/* ? DigitalClock Code*/
 *{
  padding: 0px;
  margin: 0px;
 }
body{
  background-image: url("https://cdn.pixabay.com/photo/2017/01/28/14/16/clock-2015460_1280.jpg");
}
#container{
  height: 275px;
  width: 275px;
  background-color:white;
  border-radius: 50%;
  margin-left: 500px;
  margin-top: 240px;
  color: aliceblue;
}

h1{
  color: black; 
  padding-left: 5px;
  padding-top: 100px;
  font-size: 3rem
} 


